/* 1200px < 螢幕解析度的寬度 <= 1920px */

/* 網頁上方容器 */
.header {
  display: flex;
  align-items: center;
  margin-left: -3px;
  margin-right: -3px;
}

/* 網頁上方標題 */
.header-text {
  flex: none;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
}

/* 所有選單 */
.items {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

/* 個別選單 */
.item {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  flex: none;
  width: 100px;
}

/* 漢堡圖示 */
.list-img {
  display: none;
  width: 28px;
  height: 28px;
}

/* 側邊浮動的選單 */
.side-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.5s;
  padding-top: 10px;
  /* box-shadow : x 軸 | y 軸| 模糊半徑 | 擴散距離 | 顏色 | (inset) */
  box-shadow: -10px 0 10px 0px #888888;
}

.side-menu a {
  padding: 15px 10px 15px 10px;
  font-size: 20px;
  text-align: center;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  color: #f1f1f1;
}

/* 中間容器 */
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: lightblue;
}

/* 中間歡迎文字 */
.middle-text {
  flex: none;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

/* 主內容容器 */
.content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* 主內容格線(grid)容器 */
.content-grid {
  display: grid;
  width: 1200px;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

/* promotion容器 */
.promotion1 {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
}

.promotion2 {
  display: flex;
  grid-column: 3/5;
  grid-row: 1/2;
}

/* promotion圖片 */
.promotion-img {
  flex: none;
  width: 80px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* promotion文字 */
.promotion-text {
  flex: auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: lightblue;
  font-size: 20px;
}

/* title容器 */
.title1 {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

.title2 {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
}

.title3 {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
}

.title4 {
  position: relative;
  grid-column: 4/5;
  grid-row: 2/3;
}

.title5 {
  position: relative;
  grid-column: 1/2;
  grid-row: 3/4;
}

.title6 {
  position: relative;
  grid-column: 2/3;
  grid-row: 3/4;
}

.title7 {
  position: relative;
  grid-column: 3/4;
  grid-row: 3/4;
}

.title8 {
  position: relative;
  grid-column: 4/5;
  grid-row: 3/4;
}

/* title圖片 */
.title-img {
  width: 100%;
  height: 100%;
}

/* title文字 */
.title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25%;
  background-color: rgba(185, 195, 198, 0.5);
  font-size: 20px;
}

/* star icon */
.star-img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
}

/* 600px < 螢幕解析度的寬度 <= 1200px */
@media (max-width: 1200px) {
  .content-grid {
    width: 90%;
  }

  .promotion1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .promotion2 {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .title1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .title2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .title3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .title4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .title5 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .title6 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .title7 {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .title8 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

/* 300px < 螢幕解析度的寬度 <= 600px */
@media (max-width: 600px) {
  .item {
    display: none;
  }

  .list-img {
    display: block;
  }

  .promotion1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .promotion2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .title1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .title2 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .title4 {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .title5 {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  .title6 {
    grid-column: 1/2;
    grid-row: 8/9;
  }

  .title7 {
    grid-column: 1/2;
    grid-row: 9/10;
  }

  .title8 {
    grid-column: 1/2;
    grid-row: 10/11;
  }
}
