<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Error - MyPage</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/error.css') }}"
    />
  </head>

  <body>
    <div class="header">失敗頁面</div>
    <div class="error-message">{{ errorMessage }}</div>
    <div class="return"><a href="/">返回首頁</a></div>
  </body>
</html>
