<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Member Area - MyPage</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/member.css') }}"
    />
  </head>

  <body>
    <div class="header">歡迎光臨，這是會員頁</div>
    <div class="log-in">{{name}}，歡迎登入系統</div>
    <div class="log-out"><a href="/signout" method="GET">登出系統</a></div>
    <hr />
    <div class="comment-title">快來留言吧</div>
    <form action="/message" , method="POST">
      <div class="comment">
        <span>內容</span>
        <input type="text" name="comment" />
      </div>
      <div class="btn"><button>送出</button></div>
    </form>
    <hr />
    <div>
      {%for i in range(0, len)%}
      <div class="content-list">
        <span class="content-name">{{result[i][0]}} : </span>
        <span clas="content">{{result[i][1]}}</span>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
