<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Sign in to Member Area - MyPage</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
    <script>
      let calcSquare = () => {
        let inputNum = document.getElementById("num").value;
        let url = "/square/" + inputNum;
        window.location = url;
      };
    </script>
  </head>

  <body>
    <header class="header">歡迎光臨，請輸入帳號密碼</header>
    <div class="title">登入系統</div>
    <form action="/signin" method="POST">
      <div class="log-in">
        <span>帳號</span>
        <input type="text" name="username" />
      </div>
      <div class="log-in">
        <span>密碼</span>
        <input type="password" name="password" />
      </div>
      <div class="btn"><button>登入</button></div>
    </form>
    <hr />
    <div class="square-title">計算正整數的平方</div>
    <div class="login">
      <span>正整數</span>
      <input type="text" id="num" />
    </div>
    <div class="btn" onclick="calcSquare()"><button>計算</button></div>
  </body>
</html>
