<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Member Area - MyPage</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/member.css') }}"
    />
  </head>

  <body>
    <div class="header">歡迎光臨，這是會員頁</div>
    <div class="log-in">恭喜您，成功登入系統</div>
    <div class="log-out"><a href="/signout" method="GET">登出系統</a></div>
  </body>
</html>
